<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mpco.recentDocuments</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>242EA50D-B03A-4278-A412-B4AFC16AC51F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEEBCB26-E74C-411D-9DC4-B8E92B0A9DA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53BF5810-7308-4550-A1C3-92DC01964658</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6340DCC-2D0D-4367-BAC9-C1D922545CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5459E1D5-34AA-4E81-AAC7-8D52C4077AE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D172CEA8-0DE7-4AA2-BBDA-7819B2252316</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79D60C12-3480-4744-93FD-5B6AA769F31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4CFDC4F-AF3F-47C2-8100-476F7E6FF72E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A46BBC3D-A323-49F8-90F1-A58975C5AF06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F8BAD89-AA36-49E3-AC08-2F634A88C595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4CFDC4F-AF3F-47C2-8100-476F7E6FF72E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F8BAD89-AA36-49E3-AC08-2F634A88C595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6340DCC-2D0D-4367-BAC9-C1D922545CB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F8BAD89-AA36-49E3-AC08-2F634A88C595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D172CEA8-0DE7-4AA2-BBDA-7819B2252316</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F8BAD89-AA36-49E3-AC08-2F634A88C595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEEBCB26-E74C-411D-9DC4-B8E92B0A9DA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46BBC3D-A323-49F8-90F1-A58975C5AF06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Charles Ma</string>
	<key>description</key>
	<string>Open recent documents or apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Recent Documents / Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>79D60C12-3480-4744-93FD-5B6AA769F31A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ra</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># python -O xxx.py, run
# python xxx.py, debug

macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

if [ "$macOSVersion" = "10.14" ] || [ "$macOSVersion" = "10.13" ]; then
    /usr/bin/python -O main.py "${HOME}/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.RecentApplications.sfl2"
elif [ "$macOSVersion" = "10.11" ] || [ "$macOSVersion" = "10.12" ]; then
    /usr/bin/python -O main.py "${HOME}/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.RecentApplications.sfl"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Tap "ra" to show</string>
				<key>title</key>
				<string>Recent apps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4CFDC4F-AF3F-47C2-8100-476F7E6FF72E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9F8BAD89-AA36-49E3-AC08-2F634A88C595</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>242EA50D-B03A-4278-A412-B4AFC16AC51F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
# check macos version
macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)
if [ "$macOSVersion" = "10.14" ] || [ "$macOSVersion" = "10.13" ]; then
    MRUfileExt="sfl2"
elif [ "$macOSVersion" = "10.11" ] || [ "$macOSVersion" = "10.12" ]; then
    MRUfileExt="sfl"
fi

# check app
currentAppID=$(osascript -e "tell application (path to frontmost application as text) to get id")
export currentAppPath=$(osascript -e 'tell application "Finder" to get text 1 thru -2 of POSIX path of (path to frontmost application)')
if [ "${currentAppID}" = "com.apple.finder" ]; then
    MRUfile="${HOME}/Library/Preferences/com.apple.finder.plist"
elif [ "${currentAppID}" = "com.microsoft.Word" ] || [ "${currentAppID}" = "com.microsoft.Powerpoint" ] || [ "${currentAppID}" = "com.microsoft.Excel" ] ; then
    MRUfile="${HOME}/Library/Containers/${currentAppID}/Data/Library/Preferences/${currentAppID}.securebookmarks.plist"
elif [ "${currentAppID}" = "com.sublimetext.3" ]; then
    AutoSaveSessionFile="${HOME}/Library/Application Support/Sublime Text 3/Local/Auto Save Session.sublime_session"
    if [ -f "$AutoSaveSessionFile" ]; then
        MRUfile="$AutoSaveSessionFile"
    else
        MRUfile="${HOME}/Library/Application Support/Sublime Text 3/Local/Session.sublime_session"
    fi
else
    MRUfile="${HOME}/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.ApplicationRecentDocuments/${currentAppID}.${MRUfileExt}"
fi


if [ -f "${MRUfile}" ]; then
    /usr/bin/python -O main.py "${MRUfile}"
else
    echo '{"items": [{"title": "None Recent Record for the foremost app","subtitle": "(*´･д･)?"}]}'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Tap "rf" to show</string>
				<key>title</key>
				<string>Recent documents for the foremost app</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FEEBCB26-E74C-411D-9DC4-B8E92B0A9DA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "openwith" : "{var:currentAppPath}",
      "sourcefile" : ""
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A46BBC3D-A323-49F8-90F1-A58975C5AF06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

if [ "$macOSVersion" = "10.14" ] || [ "$macOSVersion" = "10.13" ]; then
    /usr/bin/python -O main.py "${HOME}/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.RecentDocuments.sfl2"
elif [ "$macOSVersion" = "10.11" ] || [ "$macOSVersion" = "10.12" ]; then
    /usr/bin/python -O main.py "${HOME}/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.RecentDocuments.sfl"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Tap "rd" to show</string>
				<key>title</key>
				<string>Recent documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D172CEA8-0DE7-4AA2-BBDA-7819B2252316</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5459E1D5-34AA-4E81-AAC7-8D52C4077AE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>53BF5810-7308-4550-A1C3-92DC01964658</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python -O main.py "${HOME}/Library/Preferences/com.apple.finder.plist"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Tap "rff" to show</string>
				<key>title</key>
				<string>Recent folder</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6340DCC-2D0D-4367-BAC9-C1D922545CB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Website: https://github.com/mpco/Alfred3-workflow-recent-documents</string>
	<key>uidata</key>
	<dict>
		<key>242EA50D-B03A-4278-A412-B4AFC16AC51F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>53BF5810-7308-4550-A1C3-92DC01964658</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>5459E1D5-34AA-4E81-AAC7-8D52C4077AE9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>79D60C12-3480-4744-93FD-5B6AA769F31A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9F8BAD89-AA36-49E3-AC08-2F634A88C595</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A46BBC3D-A323-49F8-90F1-A58975C5AF06</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>B4CFDC4F-AF3F-47C2-8100-476F7E6FF72E</key>
		<dict>
			<key>note</key>
			<string>Recent Apps</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B6340DCC-2D0D-4367-BAC9-C1D922545CB0</key>
		<dict>
			<key>note</key>
			<string>Recent Folders</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>D172CEA8-0DE7-4AA2-BBDA-7819B2252316</key>
		<dict>
			<key>note</key>
			<string>Recent Documents</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>FEEBCB26-E74C-411D-9DC4-B8E92B0A9DA8</key>
		<dict>
			<key>note</key>
			<string>Foremost App's Recent Documents</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ExcludedFolders</key>
		<string>~/DEVONthink/:/System/Library/PreferencePanes/:/Library/PreferencePanes/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ExcludedFolders</string>
	</array>
	<key>version</key>
	<string>2.10</string>
	<key>webaddress</key>
	<string>https://github.com/mpco/Alfred3-workflow-recent-documents</string>
</dict>
</plist>
